@font-face {
    font-family: 'Gregor';
    src: local('Gregor'), url('gregor.woff2') format('woff2'), url('gregor.woff') format('woff'), url('gregor.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
